/* --------------------------------- Collection Page  --------------------------------- */

.arrowFilter {
    width: 15px;
    transition: 0.5s ease-in-out;
}

.arrowRotate {
    transform: rotate(90deg);
}

.arrowStable {
    transform: rotate(0deg);
}

.filterbox_collection {
    opacity: 0;
    animation: slideIn_noMove 0.3s forwards;
}

.collectionsAll {
    width: 100%;
}

.filterIcons {
    width: 25px;
}

.noFoundItem {
    width: 100%;
    text-align: center;
    color: #0000008f;
    font-size: 30px;
}

.allCollections {
    width: -webkit-fill-available;
}