/* --------------------------------- Collection Page  --------------------------------- */

.arrowFilter {
    width: 15px;
    transition: 0.5s ease-in-out;
}

.arrowRotate {
    transform: rotate(90deg);
}

.arrowStable {
    transform: rotate(0deg);
}

.filterbox_collection {
    opacity: 0;
    animation: slideIn_noMove 0.3s forwards;
}

.collectionsAll {
    width: 100%;
}

.filterIcons {
    width: 25px;
}

.noFoundItem {
    width: 100%;
    text-align: center;
    color: #0000008f;
    font-size: 30px;
}

.allCollections {
    width: -webkit-fill-available;
}

.descriptionBox {
    border-radius: 0 10px 10px 10px;
    border-color: var(--main-purple);
    border-width: 2px;
}

.descriptionSubBox {
    border-width: 2px;
    border-color: var(--main-purple);
    border-bottom-color: transparent;
    border-radius: 0px 10px 0 0;
}