/* --------------------------------- Home Page --------------------------------- */

.twenty {
    font-size: 13.75rem;
    font-weight: bold;
}

.experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe form {
    border: 2px solid white;
}

.subscribe form input::placeholder {
    color: white;
}

@media (max-width: 623px) {
    .experiences_twenty {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .twenty {
        font-size: 9.75rem;
    }
}

.firstLoading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

/* --------------------------------- Video Js  --------------------------------- */

.video-js .vjs-tech {
    position: unset !important;
}

.video-js {
    width: 100% !important;
    height: 100% !important;
}


.videoPlayer_playBtnHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.videoPlayer_playBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* --------------------------------- Horizontal Scrolling  --------------------------------- */

.latestProducts_scrolling {
    position: relative;
    overflow: hidden;
    background-color: white;
}

.latestProducts_cardsContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 50px;
}


@media (max-height: 1230px) {
    .latestProducts_cardsContainer .imgRatio.productCard_imgHolder {
        height: 63vh;
    }
    
}

@media (max-height: 680px) {
    .latestProducts_cardsContainer .imgRatio.productCard_imgHolder {
        height: 54vh;
    }
}

@media (max-height: 565px) {
    .latestProducts_cardsContainer .imgRatio.productCard_imgHolder {
        height: 46vh;
    }
}

@media (max-height: 470px) {
    .latestProducts_cardsContainer .imgRatio.productCard_imgHolder {
        height: 30vh;
    }
}

@media (max-height: 470px) {
    .latestProducts_cardsContainer .imgRatio.productCard_imgHolder {
        height: 20vh;
    }
}

.latestProducts_card {
    height: 100%;
    flex: 1 0 25%;
}